<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pawsome Dog Emotion Reader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0173640F1E35C29200EDC0DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>017364231E35C29200EDC0DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0173642E1E35C29200EDC0DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
